.siteName {
  color: rgb(240, 243, 221);
  font-weight: 400;
  font-size: 6vw;
}

.leftBox {
  display: flex;
  align-items: flex-end;
  width: 50%;
  text-align: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

.rightBox {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  text-align: center;
}

.loginContainer {
  direction: column;
  padding-top: 20px;
}

.dialogStyle {
  min-width: 50%;
}
